<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>img_01</string>
		<key>title</key>
		<string>九寨沟1</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>img_02</string>
		<key>title</key>
		<string>九寨沟2</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>img_03</string>
		<key>title</key>
		<string>九寨沟3</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>img_04</string>
		<key>title</key>
		<string>九寨沟4</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>img_05</string>
		<key>title</key>
		<string>九寨沟5</string>
	</dict>
</array>
</plist>
